html {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;			
}
body {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	margin:0;
	padding:0;
	background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #bbbbbb 100%); /* FF3.6+ */
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#bbbbbb 100%); /* Opera 12+ */
	background-image: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#bbbbbb 100%); /* IE10+ */
	background-image: radial-gradient(ellipse at center, #ffffff 0%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}
a,
a:link,
a:visited {
	color:rgb(37,115,186);
}
a:hover {
	color:rgba(20,64,105,1);
}
.container {
	margin:0 auto;
	width:900px;
}
#main-logo {
	font-size: 100px;
	text-align: center;
	text-shadow: 1px 1px 2px white;
	margin: 200px auto 20px auto;
	color: rgb(209,93,36);
}
#main-header {
	border-bottom: 1pt solid #333;
}
#main-header .main-logo {
	font-size: 50px;
	text-shadow: 1px 1px 1px white;
	color: rgb(209,93,36);
	margin:0px;
	padding:0px;
}
#main-header .main-tagline {
	margin:-10px 0 0 5px;
}
.description {
	text-align: center;
	font-size: 18px;
}
ul.description  {
	margin:0;
	padding:0;
	list-style:none;
}
ul.description li {
	list-style:none;
	display: inline-block;
	margin:0;
	padding:0px 10px;
	border-left: 1pt solid #333;
}
ul.description li:first-child {
	border:0;
}
.large-description {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
::selection, ::-moz-selection {
	background: rgb(37,115,186);
	color: #fff;
}
