.strabo-count-marker {
	margin-left: -12px;
	margin-top:-12px;
	padding:4px;
	height:20px;
	width:20px;
	border-radius: 30px;
/* 	background:rgba(100,100,255,0.8); */
	background: hsl(0,100%,50%);
/*
	-webkit-animation-duration: 1s;
	-webkit-animation-name: itsrainbow;
	-webkit-animation-iteration-count: infinite;
	-webkit-transition: background 0.1s linear;
*/
	text-align: center;
	vertical-align: middle;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;

}
@-webkit-keyframes itsrainbow {
	0% {
		background: hsl(0,100%,50%);
		margin-left: -10px;
		margin-top:-12px;

	}
	10% {
		background: hsl(36,100%,50%);
		margin-left: -14px;
		margin-top:-12px;
	}
	20% {
		background: hsl(72,100%,50%);
		margin-left: -14px;
		margin-top:-14px;
	}
	30% {
		background: hsl(108,100%,50%);
		margin-left: -10px;
		margin-top:-10px;
	}
	40% {
		background: hsl(144,100%,50%);
		margin-left: -14px;
		margin-top:-14px;
	}
	50% {
		background: hsl(180,100%,50%);
		margin-left: -14px;
		margin-top:-8px;
	}
	60% {
		background: hsl(216,100%,50%);
		margin-left: -14px;
		margin-top:-10px;
	}
	70% {
		background: hsl(252,100%,50%);
		margin-left: -12px;
		margin-top:-12px;
	}
	80% {
		background: hsl(288,100%,50%);
		margin-left: -16px;
		margin-top:-8px;
	}
	90% {
		background: hsl(324,100%,50%);
		margin-left: -10px;
		margin-top:-10px;
	}
	100% {
		background: hsl(360,100%,50%);
		margin-left: -10px;
		margin-top:-10px;

	}
}